/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat',  sans-serif !important;
}
.bg-primary-lm {
    background-color: var(--primary-LM-color) !important;
}

.bg-secondary-lm {
    background-color: var(--secondary-LM-color) !important;
}

.bg-tertiary-lm {
    background-color: var(--tertiary-LM-color) !important;
}

.bg-quaternary-lm {
    background-color: var(--quaternary-LM-color) !important;
}

.btn-normal {
    background-color: var(--btn-normal) !important;
}

.btn-normal-hover:hover {
    background-color: var(--btn-normal-hover) !important;
    color: var(--btn-text) !important;
}

.btn-aside-hover:hover {
    background-color: var(--btn-aside-hover) !important;
    color: var(--btn-text) !important;
}

.btn-button-hover:hover {
    background-color: var(--btn-button-hover) !important;
    color: var(--btn-text) !important;
}

.font-lm-title {
    font-family: 'Josefin Sans', sans-serif !important;
}

.font-lm-text {
    font-family: 'Montserrat', sans-serif !important;
}