{% extends 'base_back.html.twig' %}

{% block title %}Crear Reserva{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Crear reserva</h1>

    <div class="my-5">
        {{ include('reservation/_form.html.twig') }}
        <a href="{{ path('app_reservation_index') }}" class="btn btn-primary">Volver</a>
    </div>
{% endblock %}
