/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-bg-primary: #36363B;
    --color-bg-secondary: #FFFFFC;
    --color-bg-tertiary: #5A9367;
    --color-bg-quaternary: #FFC600;

    --color-btn-normal: var(--color-bg-tertiary);
    --color-btn-text: var(--color-bg-primary);
    --color-btn-text-hover: var(--color-bg-secondary);

    --color-hover-bg-yellow: var(--color-bg-quaternary); /* amarillo */
    --color-hover-text-white: var(--color-bg-secondary); /* blanco */

    /* Hover */
    --color-btn-normal-hover: var(--color-bg-primary);
    --color-btn-aside-hover: var(--color-bg-tertiary);
    --color-btn-button-hover: var(--color-bg-secondary);

    --font-family-title: "Josefin Sans", sans-serif;
    --font-family-text: "Montserrat", sans-serif;
}