{% extends 'base_back.html.twig' %}

{% block title %}Editar vehículo{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Editar vehículo</h1>

    <div class="my-5">
        {{ include('vehicle/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <a href="{{ path('app_vehicle_index') }}" class="btn btn-primary">Volver</a>
    </div>

{# {{ include('vehicle/_delete_form.html.twig') }}#}
{% endblock %}
