{% extends 'base_back.html.twig' %}

{% block title %}Nuevo empleado{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Crear empleado</h1>

    <div class="my-5">
        {{ include('employee/_form.html.twig') }}
        <a href="{{ path('app_employee_index') }}" class="btn btn-primary">Volver</a>
    </div>
{% endblock %}
