<hr class="mb-5 mt-0">
<footer class="container-fluid my-3">
    <div class="row">
        <div class="col-12 p-0">
            <div class="d-flex justify-content-center align-items-center font-lm-text fixed-bottom">
                <p class="m-0">
                    © 2024 Legacy Motors, Inc. ·
                    <a href="#">Privacidad</a>
                    <a href="#">Términos</a>
                    <a href="{{ path('app_cookies') }}">Cookies</a>
                </p>
            </div>
        </div>
    </div>
</footer>