<footer class="container-fluid bg-primary-lm">
    <div class="row">
        <div class="col-12 p-0">
            <div class="d-flex justify-content-center align-items-center font-lm-text">
                <p class="my-3">
                    <img src="{{ asset('images/logo7.png') }}" width="50px" class="img-fluid">
                </p>
            </div>
        </div>
    </div>
</footer>