<footer class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <p>
                    © 2024 Legacy Motors, Inc. ·
                    <a href="#">Privacitat</a>
                    <a href="#">Terminis</a>
                </p>
            </div>
        </div>
    </div>
</footer>