<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Legacy Motors{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/logo7.png') }}">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="p-0">
{% include '_header_front.html.twig' %}
<main role="main">
    {% block body %}
    {% endblock %}
</main>
{% include '_footer_front.html.twig' %}
</body>
</html>

