{% extends 'base.html.twig' %}

{% block title %}Política de Cookies - Legacy Motors{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5 mb-4">Política de Cookies de Legacy Motors</h1>
                <p>Aquest lloc web utilitza cookies per millorar la seva experiència com a usuari i garantir el seu
                    correcte funcionament. A continuació, es proporciona informació detallada sobre què són les cookies,
                    com s’utilitzen en aquest lloc i com podeu gestionar-les.</p>

                <h2>Què són les cookies?</h2>
                <p>Les cookies són petits fitxers de text que s’emmagatzemen al vostre dispositiu (ordinador, telèfon
                    mòbil o tauleta) quan visiteu determinats llocs web. S’utilitzen àmpliament perquè els llocs web
                    funcionin de manera eficient i per proporcionar informació als propietaris del lloc.</p>

                <h2>Com utilitzem les cookies?</h2>
                <p>Utilitzem cookies amb diversos fins, incloent:</p>
                <ul>
                    <li><strong>Cookies Essencials:</strong> Aquestes cookies són necessàries per al funcionament bàsic
                        del lloc web i no es poden desactivar en els nostres sistemes. . Normalment, es configuren en
                        resposta a les vostres accions que equivalen a una sol·licitud de serveis, com ara establir les
                        vostres preferències de privacitat, iniciar la sessió o completar formularis. Podeu configurar
                        el vostre navegador per bloquejar o alertar sobre aquestes cookies, però algunes parts del lloc
                        no funcionaran correctament.
                    </li>
                    <li><strong>Cookies d'Anàlisi:</strong> Aquestes cookies ens permeten comptar les visites i fonts de
                        trànsit perquè puguem mesurar i millorar el rendiment del nostre lloc. Ens ajuden a saber quines
                        pàgines són les més i les menys populars, i a veure com els visitants es mouen pel lloc. Tota la
                        informació que recullen aquestes cookies és agregada i, per tant, anònima. Si no permeteu
                        aquestes cookies, no sabrem quan heu visitat el nostre lloc i no podrem controlar el seu
                        rendiment.
                    </li>
                    <li><strong>Cookies de Funcionalitat:</strong> Aquestes cookies ens permeten recordar les eleccions
                        que feu al nostre lloc web i proporcionar característiques millorades i més personalitzades.
                        Poden ser establertes per nosaltres o per proveïdors externs dels quals hem afegit serveis a les
                        nostres pàgines. Si no permeteu aquestes cookies, és possible que alguns o tots aquests serveis
                        no funcionin correctament.
                    </li>
                    <li><strong>Cookies de Publicitat:</strong> Aquestes cookies poden ser establertes a través del
                        nostre lloc per els nostres socis publicitaris. Poden ser utilitzades per aquestes empreses per
                        crear un perfil dels vostres interessos i mostrar-vos anuncis rellevants en altres llocs. No
                        emmagatzemen directament informació personal, però es basen en la identificació única del vostre
                        navegador i dispositiu d'Internet. Si no permeteu aquestes cookies, experimentareu una
                        publicitat menys dirigida.
                    </li>
                </ul>

                <h2>Com puc gestionar les cookies?</h2>
                <p>Podeu gestionar les cookies a la configuració del vostre navegador. Cada navegador és diferent, així
                    que consulteu el menú d'ajuda del vostre navegador per aprendre com modificar les vostres
                    preferències de cookies. Tingueu en compte que la desactivació de les cookies pot afectar la
                    funcionalitat d'aquest lloc i d'altres llocs web que visiteu.</p>

                <p class="mt-4">En continuar utilitzant aquest lloc, accepteu el nostre ús de cookies com es descriu en
                    aquesta política.</p>
                <p>Si teniu alguna pregunta sobre la nostra política de cookies, si us plau, poseu-vos en contacte amb
                    nosaltres.</p>
            </div>
        </div>
    </div>
{% endblock %}
