{% extends 'base.html.twig' %}

{% block title %}Política de Cookies - Legacy Motors{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5 mb-4">Política de Cookies de Legacy Motors</h1>
                <p>Este sitio web utiliza cookies para mejorar su experiencia como usuario y garantizar su correcto
                    funcionamiento. A continuación, se proporciona información detallada sobre qué son las cookies, cómo
                    se utilizan en este sitio y cómo puede gestionarlas.</p>

                <h2>¿Qué son las cookies?</h2>
                <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo (computadora, teléfono
                    móvil o tableta) cuando visita ciertos sitios web. Se utilizan ampliamente para que los sitios web
                    funcionen de manera eficiente y para proporcionar información a los propietarios del sitio.</p>

                <h2>¿Cómo utilizamos las cookies?</h2>
                <p>Utilizamos cookies con diversos fines, incluyendo:</p>
                <ul>
                    <li><strong>Cookies Esenciales:</strong> Estas cookies son necesarias para el funcionamiento básico
                        del sitio web y no se pueden desactivar en nuestros sistemas. Normalmente se configuran en
                        respuesta a sus acciones que equivalen a una solicitud de servicios, como establecer sus
                        preferencias de privacidad, iniciar sesión o completar formularios. Puede configurar su
                        navegador para bloquear o alertar sobre estas cookies, pero algunas partes del sitio pueden no
                        funcionar correctamente.
                    </li>
                    <li><strong>Cookies de Análisis:</strong> Estas cookies nos permiten contar visitas y fuentes de
                        tráfico para poder medir y mejorar el rendimiento de nuestro sitio. Nos ayudan a saber qué
                        páginas son las más y las menos populares, y a ver cómo se mueven los visitantes por el sitio.
                        Toda la información que recogen estas cookies es agregada y, por lo tanto, anónima. Si no
                        permite estas cookies, no sabremos cuándo ha visitado nuestro sitio y no podremos controlar su
                        rendimiento.
                    </li>
                    <li><strong>Cookies de Funcionalidad:</strong> Estas cookies nos permiten recordar las elecciones
                        que hace en nuestro sitio web y proporcionar características mejoradas y más personalizadas.
                        Pueden ser establecidas por nosotros o por proveedores externos cuyos servicios hemos agregado a
                        nuestras páginas. Si no permite estas cookies, es posible que algunos o todos estos servicios no
                        funcionen correctamente.
                    </li>
                    <li><strong>Cookies de Publicidad:</strong> Estas cookies pueden ser establecidas a través de
                        nuestro sitio por nuestros socios publicitarios. Pueden ser utilizadas por estas empresas para
                        crear un perfil de sus intereses y mostrarle anuncios relevantes en otros sitios. No almacenan
                        directamente información personal, pero se basan en la identificación única de su navegador y
                        dispositivo de Internet. Si no permite estas cookies, experimentará una publicidad menos
                        dirigida.
                    </li>
                </ul>

                <h2>¿Cómo puedo gestionar las cookies?</h2>
                <p>Puede gestionar las cookies en la configuración de su navegador. Cada navegador es diferente, así que
                    consulte el menú de ayuda de su navegador para aprender cómo modificar sus preferencias de cookies.
                    Tenga en cuenta que desactivar las cookies puede afectar la funcionalidad de este sitio y de otros
                    sitios web que visite.</p>

                <p class="mt-4">Al continuar utilizando este sitio, acepta nuestro uso de cookies como se describe en
                    esta política.</p>
                <p>Si tiene alguna pregunta sobre nuestra política de cookies, por favor, contáctenos.</p>
            </div>
            <hr class="my-3">
        </div>
    </div>
{% endblock %}
