{% extends 'base_back.html.twig' %}

{% block title %}Editar pedido{% endblock %}

{% block body %}
    <h1>Editar pedido</h1>

    <div class="my-5">
        {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_order_index') }}" class="btn btn-primary">Volver</a>

{# {{ include('order/_delete_form.html.twig') }}#}
{% endblock %}
