{% extends 'base_back.html.twig' %}

{% block title %}Nova Comanda{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Crear nova comanda</h1>

    <div class="my-5">
        {{ include('order/_form.html.twig') }}
    </div>

    <a href="{{ path('app_order_index') }}" class="btn btn-primary">Tornar</a>
{% endblock %}
