{% extends 'base.html.twig' %}

{% block title %}Catálogo{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <h1 class="font-lm-title my-3">Catálogo</h1>
                </div>
                <form method="get" role="search">
                    <div class="d-flex justify-content-center my-3">
                        <input name="q" type="search" class="rounded-start-pill border border-secondary-subtle ps-3"
                               placeholder="Buscar..." aria-label="Search">
                        <button type="submit" class="border border-0 rounded-end-pill p-2"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if q %}
        <h2>Mostrando el resultado de: {{ q }}</h2>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            {% for vehicle in vehicles %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card w-100">
                    <img src="{{ asset('images/duotone5.png') }}" class="card-img-top img-fluid" alt="Cotxe">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a href="#" class="link-offset-2 link-underline link-underline-opacity-0">Doutone</a></h4>
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-text text-center">V12</h5>
                                <p class="card-text text-center fs-6">Motor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="navigation d-flex justify-content-center mt-lg-3">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
